[core]
	editor = code --wait
	excludesfile = ~/.gitignore

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

[http]
	cookiefile = ~/.gitcookies

[push]
	default = simple

[user]
	email = dcgauld@gmail.com
	name = David Gauld

# [includeIf "gitdir:~/Projects/personal/"]
# 	path = ~/Projects/personal/.gitconfig
